/*Part: 0: General Rules, starting from top of html to botton*/
/*
 * HEADER
*/
h1 {
  text-align: center;
  color: firebrick;
  color: #33C3F0;
}

/*h1 Second Style*/
.shadowText {
  color: black;
  font-size: 37pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.7;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow:
    1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 2px 1px #787777,
    -3px 3px 1px #7f7d7d,
    -4px 4px 1px #868585,
    -5px 5px 1px #8f8e8d,
    -6px 6px 1px #999897,
    -7px 7px 1px #a3a1a1,
    -8px 8px 1px #adabab,
    -9px 9px 1px #b7b6b5,
    -10px 10px 1px #c1bfbf,
    -11px 11px 1px #cbc9c8,
    -12px 12px 1px #d4d2d1,
    -13px 13px 1px #dbdad9,
    -14px 14px 1px #e2e0df;
}

/*
 * Buttons: user interface
*/
/*
 * Messages to the user
*/
/* used to be the X symbol. Used to detect when the user have clicked here */
.delete {
  color: red;
  font-size: 2.5rem;
  cursor: pointer;
}

/* standard for messages */
.success,
.error {
  color: white;
  font-size: 2.5rem;
}

/* success message */
.success {
  background: green;
  /* background: #33C3F0; */
  background: seaGreen;
  text-align: center;
}

/* error message */
.error {
  background: red;
  text-align: center;
}

/*
 * FORM: input data
*/
.container {
  max-width: 100%;
}

form {
  margin-bottom: 0;
}

label {
  font-size: 3rem;
}

input {
  font-size: 2.0rem;
}

/* Making the video Date & Time format as from skeleton */
.videoDate,
.videoTime {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

#submit {
  font-size: 20px;
  height: 60px;
}

/*
 * TABLE: list of videos (we will use in fact flexbox here)
*/
table thead {
  font-size: 2.5rem;
  color: #33C3F0;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #9da3b0;
  background-color: #33C3F0;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr {
  font-size: 2.5rem;
}

tbody {
  border: 1px solid black;
}

/* color: gray;
color: darkslategray;
color: firebrick;
color: crimson;
color: black;
color: saddlebrown;
color: #33C3F0; */

table,
th,
td {
  border: 1px solid #33C3F0;
  border: 1px solid saddlebrown;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

td {
  padding: 0;
  margin: 0;
}

/* video {
  padding: 0;
  border: 0;
} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  color: black;
  border-top: 1px solid #33C3F0;
}
