/* For color codes:
https://www.quackit.com/css/css_color_codes.cfm */
/*Part: 0: General Rules, starting from top of html to botton*/
/*
 * HEADER
*/
h1 {
  text-align: center;
  color: firebrick;
  color: #33C3F0;
}

/*h1 Second Style*/
.shadowText {
  color: black;
  font-size: 37pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  line-height: 1.7;
  /* offset-x | offset-y | blur-radius | color */
  text-shadow:
    1px -1px 0 #767676,
    -1px 2px 1px #737272,
    -2px 2px 1px #787777,
    -3px 3px 1px #7f7d7d,
    -4px 4px 1px #868585,
    -5px 5px 1px #8f8e8d,
    -6px 6px 1px #999897,
    -7px 7px 1px #a3a1a1,
    -8px 8px 1px #adabab,
    -9px 9px 1px #b7b6b5,
    -10px 10px 1px #c1bfbf,
    -11px 11px 1px #cbc9c8,
    -12px 12px 1px #d4d2d1,
    -13px 13px 1px #dbdad9,
    -14px 14px 1px #e2e0df;
}

/*h1 Third Style*/
.shadowText {
  color: Black;
  font-size: 3.8em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  margin-top: 10px;
  margin-bottom: 0;
}

/*
 * Buttons: user interface
*/
.bContainer {
  text-align: center;
}

.openClose {
  /* visibility: hidden; */
  display: none;
}

/*
 * Messages to the user
*/
/* used to be the X symbol. Used to detect when the user have clicked here */
.delete {
  color: red;
  font-size: 2.5rem;
  cursor: pointer;
}

/* standard for messages */
.success,
.error {
  color: white;
  font-size: 2.5rem;
}

/* success message */
.success {
  background: green;
  /* background: #33C3F0; */
  background: seaGreen;
  text-align: center;
}

/* error message */
.error {
  background: red;
  text-align: center;
}

/*
 * FORM: input data
*/
.container {
  max-width: 100%;
}

form {
  margin-bottom: 0;
}

label {
  font-size: 2.7rem;
}

input {
  font-size: 2.0rem;
}

/* Making the video Date & Time format as from skeleton */
.videoDate,
.videoTime {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

#submit {
  font-size: 20px;
  height: 50px;
}

/*
 * TABLE: list of videos (we will use in fact flexbox here)
*/
table thead {
  font-size: 2.0rem;
  color: #33C3F0;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #9da3b0;
  background-color: #33C3F0;
  /* font-weight: bold; */
  /* color: white; */
}

tbody tr:nth-child(odd) {
  background-color: white;
  /* font-weight: bold; */
}

tbody tr {
  font-size: 2.0rem;
}

tbody {
  border: 1px solid black;
}

table,
th,
td {
  border: 1px solid #33C3F0;
  border: 1px solid saddlebrown;
  border: 1px solid RosyBrown;
  border: 1px solid Peru;
  border: 1px solid RosyBrown;
  text-align: center;
  padding: 0;
  margin: 0;
}

/* Flexbox was very important here to be able to let the video in the middle+
center of the table */
.videoFlex {
  /* width: 320px; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
}

/* we use flex 1 to be able to stretch the video! */
td video {
  flex: 1;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  color: black;
  /* border-top: 1px solid #33C3F0; */
}
